body {
  height: 100%;
  width: 100%;
  background-color: #00004C !important;
  font-family: 'Roboto Slab', serif;
}
p, h1, h2, h3, h4, h5, label, button, small, span, a {
  font-family: 'Roboto Slab', serif !important;
  color: #fff !important;
}
.top-bar {
  background-color: #000D20 !important;
  color: #C0C0C0 !important;
  ul {
    background-color: #000D20 !important;
  }
  a, a:hover {
    color: #C0C0C0 !important;
  }
}
.wrapper {
  margin-top: 2rem;
  background-color: #00234F;
  min-height: 90%;
}
.upcoming_tournaments {
  min-height: 300px;
  text-align: right;
}
.upcoming_clanwars {
  min-height: 300px;
  text-align: right;
}
.login_form {
  background-color: #000D20 !important;
}
.tournaments_featured, .tournaments_winners {
  min-height: 300px;
}
.tournament:hover {
  background-color: #101010;
  color: white !important;
}
.tournament {
  padding: 10px;
}